{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",

  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^react$",
    "",
    "<BUILT_IN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@auth0/(.*)$",
    "(^@tanstack/(.*)$)|(routeTree.gen.ts$)",
    "^@mantine/(.*)$",
    "^@tabler/(.*)$",
    "",
    "^@/(?!.*[.]css$).*$",
    "^@Common/(?!.*[.]css$).*$",
    "^@Home/(?!.*[.]css$).*$",
    "^@MyOrganizations/(?!.*[.]css$).*$",
    "^@Organization/(?!.*[.]css$).*$",
    "^@Project/(?!.*[.]css$).*$",
    "^@Resources/(?!.*[.]css$).*$",
    "^@Crops/(?!.*[.]css$).*$",
    "",
    "^(?!.*[.]css$)[./].*$",
    "",
    ".css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
