.refetchBtn {
  &:hover {
    background-color: var(--mantine-color-dark-9) !important;
    color: var(--mantine-color-dark-1) !important;
  }

  &:disabled {
    background-color: var(--mantine-color-dark-9);
    color: var(--mantine-color-dark-3);
  }
}
